# tinyrox says don't edit this manually, but it can't stop you!

export(chat_addressed)
export(chat_capabilities)
export(chat_channel_info)
export(chat_channels)
export(chat_config)
export(chat_config_save)
export(chat_disconnect)
export(chat_edit)
export(chat_history)
export(chat_identity)
export(chat_invite)
export(chat_irc)
export(chat_join)
export(chat_loopback)
export(chat_mark_read)
export(chat_matrix)
export(chat_matrix_config)
export(chat_matrix_config_path)
export(chat_matrix_configure)
export(chat_members)
export(chat_message)
export(chat_pending)
export(chat_poll)
export(chat_react)
export(chat_reaction)
export(chat_relogin)
export(chat_resolve)
export(chat_send)
export(chat_set_identity)
export(chat_slack)
export(chat_typing)
export(chat_whoami)

S3method(chat_addressed,chat_irc)
S3method(chat_addressed,chat_matrix)
S3method(chat_addressed,chat_slack)
S3method(chat_addressed,default)
S3method(chat_capabilities,chat_irc)
S3method(chat_capabilities,chat_loopback)
S3method(chat_capabilities,chat_matrix)
S3method(chat_capabilities,chat_slack)
S3method(chat_channel_info,chat_matrix)
S3method(chat_channel_info,chat_slack)
S3method(chat_channel_info,default)
S3method(chat_channels,chat_loopback)
S3method(chat_channels,chat_matrix)
S3method(chat_channels,chat_slack)
S3method(chat_channels,default)
S3method(chat_disconnect,chat_irc)
S3method(chat_disconnect,default)
S3method(chat_edit,chat_loopback)
S3method(chat_edit,chat_matrix)
S3method(chat_edit,chat_slack)
S3method(chat_edit,default)
S3method(chat_history,chat_loopback)
S3method(chat_history,chat_matrix)
S3method(chat_history,chat_slack)
S3method(chat_history,default)
S3method(chat_join,chat_matrix)
S3method(chat_join,chat_slack)
S3method(chat_join,default)
S3method(chat_mark_read,chat_matrix)
S3method(chat_mark_read,chat_slack)
S3method(chat_mark_read,default)
S3method(chat_members,chat_matrix)
S3method(chat_members,chat_slack)
S3method(chat_members,default)
S3method(chat_pending,chat_matrix)
S3method(chat_pending,default)
S3method(chat_poll,chat_irc)
S3method(chat_poll,chat_loopback)
S3method(chat_poll,chat_matrix)
S3method(chat_poll,chat_slack)
S3method(chat_react,chat_matrix)
S3method(chat_react,chat_slack)
S3method(chat_react,default)
S3method(chat_relogin,chat_matrix)
S3method(chat_relogin,default)
S3method(chat_resolve,chat_irc)
S3method(chat_resolve,chat_loopback)
S3method(chat_resolve,chat_matrix)
S3method(chat_resolve,chat_slack)
S3method(chat_send,chat_irc)
S3method(chat_send,chat_loopback)
S3method(chat_send,chat_matrix)
S3method(chat_send,chat_slack)
S3method(chat_set_identity,chat_irc)
S3method(chat_set_identity,chat_matrix)
S3method(chat_set_identity,chat_slack)
S3method(chat_set_identity,default)
S3method(chat_typing,chat_matrix)
S3method(chat_typing,default)
S3method(chat_whoami,chat_irc)
S3method(chat_whoami,chat_loopback)
S3method(chat_whoami,chat_matrix)
S3method(chat_whoami,chat_slack)
S3method(chat_whoami,default)
S3method(print,chat_config)
S3method(print,chat_identity)
S3method(print,chat_invite)
S3method(print,chat_message)
S3method(print,chat_reaction)
