# tinyrox says don't edit this manually, but it can't stop you!

export(chat_capabilities)
export(chat_disconnect)
export(chat_irc)
export(chat_loopback)
export(chat_matrix)
export(chat_message)
export(chat_poll)
export(chat_react)
export(chat_reaction)
export(chat_resolve)
export(chat_send)
export(chat_slack)
export(chat_typing)

S3method(chat_capabilities,chat_irc)
S3method(chat_capabilities,chat_loopback)
S3method(chat_capabilities,chat_matrix)
S3method(chat_capabilities,chat_slack)
S3method(chat_disconnect,chat_irc)
S3method(chat_disconnect,default)
S3method(chat_poll,chat_irc)
S3method(chat_poll,chat_loopback)
S3method(chat_poll,chat_matrix)
S3method(chat_poll,chat_slack)
S3method(chat_react,chat_matrix)
S3method(chat_react,chat_slack)
S3method(chat_react,default)
S3method(chat_resolve,chat_irc)
S3method(chat_resolve,chat_loopback)
S3method(chat_resolve,chat_matrix)
S3method(chat_resolve,chat_slack)
S3method(chat_send,chat_irc)
S3method(chat_send,chat_loopback)
S3method(chat_send,chat_matrix)
S3method(chat_send,chat_slack)
S3method(chat_typing,chat_matrix)
S3method(chat_typing,default)
S3method(print,chat_message)
S3method(print,chat_reaction)
